/.bundle
/log/*.log
/tmp/
/email.txt
/public/questions/*
/public/competenceGroupsFiles/*
/public/relatedContents/*
/public/mapImages/*
/public/chatImages/work/*
/public/chatImages/test/*
/mongrel.pid
/Gemfile.lock
/Gemfile
/public/assets/*
/.hg/*
