/.bundle
/log/*.log
/tmp/
/email.txt
/public/questions/*
/public/competenceGroupsFiles/*
/public/relatedContents/*
/public/mapImages/*
/public/chatImages/work/*
/public/chatImages/test/*
/mongrel.pid
/Gemfile.lock
/Gemfile
/config/initializers/constants.rb
/config/initializers/secret_token.rb
/config/initializers/session_store.rb
/config/initializers/recaptcha.rb
/config/database.yml
/public/assets/*
/.hg/*
