<h1>Version de prueba</h1>
<h1>Sobre la herramienta SIENA</h1>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">La herramienta informática SIENA (Sistema Integrado de Enseñanza 
Aprendizaje) es una aplicación web para detectar los conocimientos 
previos de un alumno o como ayuda para el autoaprendizaje y la autoevaluación, 
con objeto de realizar un aprendizaje centrado en el alumno (aprendizaje 
significativo). Esta herramienta web está pensada para trabajar 
con mapas conceptuales. El mapa conceptual, que será creado por 
el profesor, dispondrá los conceptos organizados en el mapa partiendo 
desde los conceptos objetivos hasta los conocimientos previos. Es decir, 
en un mapa dado, un concepto A aparecerá antes de un concepto 
B, si para entender el concepto B se precisa del conocimiento previo 
del concepto A. Una vez creado el mapa conceptual con la herramienta 
Compendium, lo podemos exportar en un formato XML para ser incorporado 
a la herramienta SIENA.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">Dado el mapa conceptual de una determinada materia, SIENA averigua 
cuáles de los conceptos que aparecen en dicho mapa son conocidos por 
alumnos y en qué grado. Para ello, tenemos que definir cuáles 
son los conceptos previos y los conceptos objetivos que queremos evaluar 
dentro de un mapa conceptual importado desde Compendium.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">Una vez hecho esto, tenemos que incorporar a la herramienta SIENA, 
para cada concepto, las preguntas que queremos realizar al alumno para 
saber el grado de conocimiento de cada concepto. Las preguntas que hay 
que introducir son de las denominadas de “Multiples choices”, es 
decir al alumno se le dan varias posibles respuestas y éste debe escoger 
una de ellas. Las preguntas responderán a varios niveles de dificultad 
y habrá que definir para cada pregunta algunos parámetros (entre 0 
y 1), como son:</span></p>
<ol style="list-style:decimal">
  <li style="margin-top:5pt;margin-bottom:5pt;margin-left:0pt;line-height:13pt"><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">El grado de relaci</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">ó</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">n</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333"> de la pregunta con el concepto.</span></li>
  <li style="margin-top:5pt;margin-bottom:5pt;margin-left:0pt;line-height:13pt"><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">El grado de dificultad de la pregunta</span></li>
  <li style="margin-top:5pt;margin-bottom:5pt;margin-left:0pt;line-height:13pt"><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">La respuesta verdadera</span></li>
  <li style="margin-top:5pt;margin-bottom:5pt;margin-left:0pt;line-height:13pt"><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">Adivinanza, es decir si es f</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">á</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">c</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">il responder a la pregunta considerando 
  exclusivamente la suerte, el azar.</span></li>
  <li style="margin-top:5pt;margin-bottom:5pt;margin-left:0pt;line-height:13pt"><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">La estimaci</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">ó</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">n</span><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333"> del conocimiento previo que el alumno 
  tiene sobre ese concepto.</span></li>
  <li style="margin-top:5pt;margin-bottom:5pt;margin-left:0pt;line-height:13pt"><span style="font-family:&#39;Helvetica&#39;,&#39;Arial&#39;;font-size:10pt;color:#333333">El tiempo de respuesta en segundos 
  que se le permite al alumno para contestar la pregunta.</span></li>
</ol>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">Entendemos que definir todos estos parámetros para cada pregunta 
es tedioso, pero es imprescindible pues SIENA incluye un test adaptativo 
basado en redes bayesianas el cual precisa de todos estos parámetros 
para cada pregunta, y es capaz, en función de las respuestas del alumno, 
de estimar el grado de conocimiento del mismo para ese concepto. Para 
ello, este test va lanzando preguntas al alumno con un nivel de dificultad 
que es función de las respuestas del alumno a preguntas anteriores. 
Es decir, si el alumno va contestando correctamente, entonces el sistema 
va subiendo paulatinamente el grado de dificultad de la siguiente pregunta, 
por el contrario, si a partir de un determinado momento el alumno falla 
una pregunta, el sistema baja el nivel de dificultad de la siguiente 
pregunta. Además, el sistema dispone de un mecanismo de parada bien 
para cuando ya no puede obtener una mayor estimación sobre el grado 
de conocimiento de un concepto, o bien porque no existen más preguntas.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">En la autoevaluación, la herramienta informática SIENA precisa que 
el profesor defina un trabajo a realizar. Se denomina trabajo a aquella 
parte de un mapa conceptual ya declarado consistente en un nodo objetivo 
al que se desea llegar en la autoevaluación y que será un nodo 
intermedio, y un nodo inicial que coincidirá con el último nodo 
del mapa que haya sido nodo objetivo en una autoevaluación previa. 
Un trabajo completo coincidirá con la totalidad del mapa conceptual. 
Se ha definido el trabajo para aquellos casos en los que un mapa conceptual 
sea muy amplio y el profesor prefiera que el alumno lo vaya superando 
por partes. Se parte de los conceptos previos definidos en el mapa y 
se comienzan a evaluar los conceptos progresando en el mapa siempre 
que el alumno vaya superando los conceptos. Cuando un concepto no sea 
superado el sistema no prosigue evaluando por esa rama del mapa, pues 
se entiende que si ese concepto no ha sido superado no lo serán otros 
conceptos que van a continuación y que precisan del conocimiento de 
aquel que no fue superado. El sistema podrá proseguir evaluando 
por otras ramas del mapa.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">El sistema mostrará para cada concepto cuáles fueron las preguntas 
realizadas, cuáles fueron contestadas correctamente y cuál es la estimación 
realizada por el sistema sobre el grado de conocimiento de cada concepto.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">Los tests puede realizarse de forma individual o de forma colaborativa, 
en este último caso, los alumnos deben crear grupos de trabajo y el 
test se construye a través de la comunicación entre los miembros del 
grupo mediante ventanas de comunicación de mensajes que se despliegan 
para cada pregunta.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">SIENA además de recoger la estimación de conocimiento para el conjunto 
de preguntas presentadas, en el caso colaborativo on-line presenta el 
número de los mensajes enviados por los miembros del grupo, así 
como el contenido de los mismos.</span></p>
<p style="margin-bottom:6pt;line-height:12pt"><span style="font-family:&#39;Arial&#39;;font-size:9pt;color:#333333">SIENA incorpora además, para cada uno de los nodos del mapa un contenido, 
con lo que a la acción de autoevaluación se le incluye la posibilidad 
de autoaprendizaje. Realmente el sistema está preparado para incorporar 
dos tipos de contenidos: Contenidos que un alumno deberá estudiar 
la primera vez que se enfrente con ese concepto, o bien contenidos para 
recuperación, que se deberían estudiar cuando un alumno no supera 
un test realizado sobre ese concepto, entonces en ese caso, los contenidos 
que muestra el sistema no son los contenidos iniciales sino los contenidos 
de recuperación (la herramienta permite indicar al definirse cuáles 
son los contenidos normales y cuales los de recuperación, en ocasiones 
esto no será necesario y el profesor sólo incluirá un solo 
tipo de contenidos).</span></p>
